.pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  
  &__wrapper {
    border: 1px solid black;
    &__button {
      padding: 8px;
      
      background: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      color:blue;
      font-size: 18px;
    }
  }
}
.current-page{
    color:black;
    border-bottom: 1px solid black;
}
